name: Release Platform Propeller
on: 
  workflow_dispatch:
    inputs:
      FlexPropVersion:
        description: 'FlexProp Version'     
        required: true
      LoadP2Version:
        description: 'LoadP2 Version'
        required: true
        default: "v047"
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Find and Replace platform.json
      uses: jacobtomlinson/gha-find-replace@v3
      with:
        find: "toolchain-flexprop.git#v[0-9]+.[0-9]+.[0-9]+"
        replace: "toolchain-flexprop.git#${{ github.event.inputs.FlexPropVersion }}"
        include: "*"
        regex: true
    - name: Find and Replace platform.json
      uses: jacobtomlinson/gha-find-replace@v3
      with:
        find: "tool-loadp2.git#v[0-9]+"
        replace: "tool-loadp2.git#${{ github.event.inputs.LoadP2Version }}"
        regex: true
    - name: Push updated package
      run: |
        git config --global user.name 'rileymccarthy'
        git config --global user.email 'riley.mccarthy@yahoo.com'
        git add '.'
        git commit -am "v${{ github.event.inputs.FlexPropVersion }}"
        git push
    - name: Release with Notes
      uses: softprops/action-gh-release@v1
      with:
        tag_name: v${{ github.event.inputs.FlexPropVersion }}
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
